<!DOCTYPE HTML>
<html>
	<head>
		<title>read post</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/common/common.css" />
		<link rel="stylesheet" href="../css/common/menu.css" />
        <link rel="stylesheet" href="../css/post.css" />
		<noscript>
            <link rel="stylesheet" href="../css/common/noscript.css" />
		</noscript>	
	</head>
	<body class="is-preload">
		<div class="menu">
			<div class="menu-wrapper">
				<h1 class="menu-title">Memory Pond</h1>
				<a class="button small">돌아가기</a>
			</div>
		</div>
		<div id="wrapper">
			<header id="header">
				<h1>Memory Pond</h1>
				<p>당신의 고민은 무엇인가요?</p>
			</header>
			<section>
				<div id="main">
					<section id="content" class="main">
						<span class="image main"><img src="images/pic04.jpg" alt="" /></span>
						<h2 class="title">고기만두가 너무 먹고싶어요</h2>
						<p class="author">written By 서연</p>
						<p class="content">고기 만두가 너무 먹고싶어요. 어떡하죠?</p>
					</section>
				</div>
			</section>
			<section class="coments-section">
				<ul class="comment-list">
					<li class="comment-item">
						<div class="">
							<p class="author">written By 종이</p>
							<p class="content">저도 먹고싶어요!</p>
						</div>
					</li>
				</ul>
			</section>
			<section class="comment">
				<p>뎃글 남기기</p>
				<form method="post" action="#">
					<div class="row gtr-uniform">
						<div class="col-12">
							<textarea name="demo-message" id="demo-message" placeholder="고민이 있는 친구에게 때로는 따뜻한 위로의 한마디 어떨까요?" rows="4"></textarea>
						</div>
						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" value="뎃글 작성" class="primary" /></li>
								<li><input type="reset" value="초기화" /></li>
							</ul>
						</div>
					</div>
				</form>
			</section>
			<footer id="footer">
				<p class="copyright">&copy; Published by <a href="https://html5up.net">Team 99</a>.</p>
			</footer>
		</div>
		<script src="../js/common/jquery.min.js"></script>
		<script src="../js/common/jquery.scrollex.min.js"></script>
		<script src="../js/common/jquery.scrolly.min.js"></script>
		<script src="../js/common/browser.min.js"></script>
		<script src="../js/common/breakpoints.min.js"></script>
		<script src="../js/common/util.js"></script>
		<script src="../js/post.js"></script>
		<script src="../js/common/common.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>
		<script type="rv-template" id="card_item">

		</script>
	</body>
</html>