<!DOCTYPE HTML>
<html>
	<head>
		<title>Memory Pond Wellcome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../css/common/common.css" />
        <link rel="stylesheet" href="../css/wellcome.css" />
		<noscript>
            <link rel="stylesheet" href="../css/common/noscript.css" />
        </noscript>
	</head>
	<body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <h1>Memory Pond</h1>
                <p>당신의 고민을 남겨주세요</p>
            </header>
            <div id="main">
                <section id="content" class="main">
                    <h2>고민 남기기</h2>
                    <form method="post" action="#">
                        <div class="row gtr-uniform">
                            <div class="col-6 col-12-xsmall">
                                <input type="text" name="name" id="name" value="" placeholder="고민제목" />
                            </div>
                            <div class="col-12">
                                <textarea name="demo-message" id="demo-message" placeholder="고민내용" rows="6"></textarea>
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="고민 남기기" class="primary" /></li>
                                    <li><input type="reset" value="돌아가기" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <footer id="footer">
                <p class="copyright">&copy; Published by <a href="https://html5up.net">Team 99</a>.</p>
            </footer>
        </div>
        <script src="../js/common/jquery.min.js"></script>
        <script src="../js/common/jquery.scrollex.min.js"></script>
        <script src="../js/common/jquery.scrolly.min.js"></script>
        <script src="../js/common/browser.min.js"></script>
        <script src="../js/common/breakpoints.min.js"></script>
        <script src="../js/common/util.js"></script>
        <script src="../js/common/common.js"></script>
	</body>
</html>