<!DOCTYPE HTML>
<html>
	<head>
		<title>Memory Pond Wellcome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../css/common/common.css" />   
        <link rel="stylesheet" href="../css/wellcome.css" />
		<noscript>
            <link rel="stylesheet" href="../css/common/noscript.css" />
        </noscript>
	</head>
	<body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <h1>Memory Pond</h1>
                <p>당신의 기억의 무게는 얼마인가요?</p>
            </header>

            <div id="main">
                <section id="content" class="main">
                    <p>
                        Memory Pond에 찾아오신 것을 환영합니다.</br>
                        아곳은 자유롭게 당신의 기억을 사람들과 나눌 수 있는 공간입니다.</br>
                        그럼 시작해 볼까요?
                    </p>
                    <a href="./main.html" class="button fit">둘러보기</a>
                    <div class="space"></div>
                    <a href="./register.html" class="button fit primary">시작하기</a>
                </section>
            </div>

            <footer id="footer">
                <p class="copyright">&copy; Published by <a href="https://html5up.net">Team 99</a>.</p>
            </footer>
        </div>
		<!-- Scripts -->
        <script src="../js/common/jquery.min.js"></script>
        <script src="../js/common/jquery.scrollex.min.js"></script>
        <script src="../js/common/jquery.scrolly.min.js"></script>
        <script src="../js/common/browser.min.js"></script>
        <script src="../js/common/breakpoints.min.js"></script>
        <script src="../js/common/util.js"></script>
        <script src="../js/common/common.js"></script>
	</body>
</html>