<!DOCTYPE HTML>
<html>
	<head>
		<title>Memory Pond login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../css/common/common.css" />
		<noscript>
            <link rel="stylesheet" href="../css/common/noscript.css" />
        </noscript>
        <link rel="stylesheet" href="../css/login.css" />
	</head>
	<body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <h1>Memory Pond</h1>
                <p>시작하기 전 당신이 누구인지 알려주세요</p>
            </header>
            <div id="main">
                <section id="content" class="main">
                    <form method="post">
                      <h3>로그인</h3>
                      <div class="col-6 col-12-xsmall">
                        <input type="text" name="username" id="username" value="" placeholder="닉네임" />
                      </div>
                      <div class="col-6 col-12-xsmall">
                        <input type="password" name="password" id="password" value="" placeholder="비밀번호"/>
                      </div>

                      <div class="col-12">
                          <input type="submit" value="로그인" class="primary fit" />
                          <a href="/register" class="button fit">회원가입</a>
                      </div>                    
                    </form>
                    <a href = "/main" class ="to-main">메인으로</a>
                </section>
            </div>
            <footer id="footer">
                <p class="copyright">&copy; Published by <a href="https://html5up.net">Team 99</a>.</p>
            </footer>
        </div>
        <script src="../js/common/jquery.min.js"></script>
        <script src="../js/common/jquery.scrollex.min.js"></script>
        <script src="../js/common/jquery.scrolly.min.js"></script>
        <script src="../js/common/browser.min.js"></script>
        <script src="../js/common/breakpoints.min.js"></script>
        <script src="../js/common/util.js"></script>
        <script src="../js/common/main.js"></script>
	</body>
</html>