<!DOCTYPE HTML>
<html>
	<head>
		<title>Memory Pond tutorial start</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../css/common/common.css" />   
        <link rel="stylesheet" href="../css/welcome.css" />
		<noscript>
            <link rel="stylesheet" href="../css/common/noscript.css" />
        </noscript>
	</head>
	<body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <h1>Memory Pond</h1>
                <p>당신의 기억의 무게는 얼마인가요?</p>
            </header>

            <div id="main">
                <section id="content" class="main">
                    <p>
                        Memory Pond첫 방문을 환영합니다.</br>
                        당신의 기억을 꺼내기 위한</br>
                        질문들을 준비해 보았습니다.</br>
                        카테고리를 선택한 후, 원하는 질문에</br>
                        편하게 답해주세요
                    </p>
                    <a href="/main" class="button fit">다음에 해보기</a>
                    <div class="space"></div>
                    <a href="/question" class="button fit primary">시작하기</a>
                </section>
            </div>

            <footer id="footer">
                <p class="copyright">&copy; Published by <a href="https://html5up.net">Team 99</a>.</p>
            </footer>
        </div>
		<!-- Scripts -->
        <script src="../js/common/jquery.min.js"></script>
        <script src="../js/common/jquery.scrollex.min.js"></script>
        <script src="../js/common/jquery.scrolly.min.js"></script>
        <script src="../js/common/browser.min.js"></script>
        <script src="../js/common/breakpoints.min.js"></script>
        <script src="../js/common/util.js"></script>
        <script src="../js/common/common.js"></script>
	</body>
</html>