<!DOCTYPE HTML>
<html>
	<head>
		<title>Memory Pond register</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../css/common/common.css" />
        <link rel="stylesheet" href="../css/weight.css" />
		<noscript>
            <link rel="stylesheet" href="../css/common/noscript.css" />
        </noscript>
	</head>
	<body class="is-preload">
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <h1>Memory Pond</h1>
                <p>기억이 성공적으로 작성되었습니다.</p>
            </header>

            <!-- Main -->
            <div id="main">
                <!-- Content -->
                <section id="content" class="main">
                    <h2>당신의 기억의 무게는...</h2>
                    <div class="weight-area">
                      <div class="weight-value">
                        <h2 class="value"></h2>
                      </div>
                      <img class="sclae-img" src="../img/scale.png"/>
                    </div>
                    <a href="/post-created" class="button primary fit">작성완료</a>
                </section>
            </div>
            <footer id="footer">
                <p class="copyright">&copy; Published by <a href="https://html5up.net">Team 99</a>.</p>
            </footer>
        </div>
		<!-- Scripts -->
        <script src="../js/common/jquery.min.js"></script>
        <script src="../js/common/jquery.scrollex.min.js"></script>
        <script src="../js/common/jquery.scrolly.min.js"></script>
        <script src="../js/common/browser.min.js"></script>
        <script src="../js/common/breakpoints.min.js"></script>
        <script src="../js/common/util.js"></script>
        <script src="../js/common/common.js"></script>
        <script src="../js/weight.js"></script>
	</body>
</html>