<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Memory Pond</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/common/common.css" />
		<link rel="stylesheet" href="../css/common/menu.css" />
        <link rel="stylesheet" href="../css/main.css" />
		<noscript>
            <link rel="stylesheet" href="../css/common/noscript.css" />
        </noscript>    
    </head>
	<body class="is-preload">
		<div class="menu">
			<div class="menu-wrapper">
				<h1 class="menu-title">Memory Pond</h1>
				<a sec:authorize="isAuthenticated()" href="/logout" class="button small logout">로그아웃</a>
				<a sec:authorize="isAuthenticated()" href="/question" class="button small post">글쓰기</a>
				<a sec:authorize="isAnonymous()" th:href="@{/login}" href="/login" class="button small login">로그인</a>
				<!-- <a href="/login" class="button small">로그인</a>
				<a href="/post" class="button small">글쓰기</a> -->
			</div>
		</div>
		<div id="wrapper">
			<header id="header">
				<h1>Memory Pond</h1>
				<p>당신의 고민은 무엇인가요?</p>
			</header>
			<section id="post">
				<ul class = "post-list">				
				</ul>
			</section>
			<section id="page">
				<ul class="page-list">
					<li class="page-index"><a href="#" class="">1</a></li>
					<li class="page-index"><a href="#" class="">2</a></li>
					<li class="page-index"><a href="#" class="">3</a></li>
					<li class="page-index"><a href="#" class="">4</a></li>
					<li class="page-index"><a href="#" class="">5</a></li>
				</ul>
			</section>
			<footer id="footer">
				<p class="copyright">&copy; Published by <a href="https://html5up.net">Team 99</a>.</p>
			</footer>
		</div>

		<!-- Scripts -->
        <script src="../js/common/jquery.min.js"></script>
        <script src="../js/common/jquery.scrollex.min.js"></script>
        <script src="../js/common/jquery.scrolly.min.js"></script>
        <script src="../js/common/browser.min.js"></script>
        <script src="../js/common/breakpoints.min.js"></script>
		<script src="../js/common/util.js"></script>
		
		<script src="../js/common/main.js"></script>
		<script src="../js/main.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>
		<script type="rv-template" id="card_item">
			<li class="post-item main">
				<div id={{id}}>
					<h2 class="post-title">Q. {{questionName}}</h2>
					<p class="post-content">A. {{username}}: {{content}}</p>
				</div>
			</li>
		</script>
	</body>
</html>