<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>read post</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/common/common.css" />
		<link rel="stylesheet" href="../css/common/menu.css" />
        <link rel="stylesheet" href="../css/post.css" />
		<noscript>
            <link rel="stylesheet" href="../css/common/noscript.css" />
		</noscript>	
	</head>
	<body class="is-preload">
		<div class="menu">
			<div class="menu-wrapper">
				<h1 class="menu-title">Memory Pond</h1>
				<a href="/main" class="button small">돌아가기</a>
			</div>
		</div>
		<div id="wrapper">
			<header id="header">
				<h1>Memory Pond</h1>
				<p>당신은 어떤 기억을 가지고 있나요?</p>
			</header>
			<section>
				<div id="main">
					<section id="content" class="main">
						<h2 class="title">Q. </h2>
						<p class="content">A. </p>
						<p class="author"> written By </p>
					</section>
				</div>
			</section>
			<section class="comment-section">
				<ul class="comment-list">

				</ul>
			</section>
			<section sec:authorize="isAuthenticated()" id="comment">
				<p>덧글 남기기</p>
				<form method="post" action="#">
					<div class="row gtr-uniform">
						<div class="col-12">
							<div></div>
							<textarea name="message" id="message" placeholder="고민이 있는 친구에게 때로는 따뜻한 위로의 한마디 어떨까요?(3글자 이상 작성)" rows="4"></textarea>
						</div>
						<div class="col-12">
							<ul class="actions">
								<li><input type="submit" value="덧글 작성" class="primary" id="send"/></li>
								<li><input type="reset" value="초기화" /></li>
							</ul>
						</div>
					</div>
				</form>
			</section>
			<footer id="footer">
				<p class="copyright">&copy; Published by <a href="https://html5up.net">Team 99</a>.</p>
			</footer>
		</div>
		<script src="../js/common/jquery.min.js"></script>
		<script src="../js/common/jquery.scrollex.min.js"></script>
		<script src="../js/common/jquery.scrolly.min.js"></script>
		<script src="../js/common/browser.min.js"></script>
		<script src="../js/common/breakpoints.min.js"></script>
		<script src="../js/common/util.js"></script>
		<script src="../js/post.js"></script>
		<script src="../js/common/common.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>
		<script type="rv-template" id="comment_item">
			<li class="comment-item main">
				<div class="{{id}}">
					<p class="content">{{content}}</p>
					<p class="author">written By {{username}}</p>
				</div>
			</li>
		</script>
	</body>
</html>