<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Memory Pond Wellcome</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../css/common/common.css" />
        <link rel="stylesheet" href="../css/question.css" />
		<noscript>
            <link rel="stylesheet" href="../css/common/noscript.css" />
        </noscript>
	</head>
	<body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <h1>Memory Pond</h1>
                <p>당신의 고민을 남겨주세요</p>
            </header>
            <div id="main">
                <section id="content" class="main">
                    <h2>고민 남기기</h2>
                    <form method="post" action="#">
                        <div class="row gtr-uniform">
                            <div class="col-12 category-wrapper">
                                <p class="category-title"></p>
                                <select name="category" id="category">
                                </select>
                            </div>
                            <div id = "radio">
                            </div>
                            <div class="col-12">
                                <textarea name="content" id="content" placeholder="고민내용(3글자 이상)" rows="6"></textarea>
                            </div>
                            <div class="col-12">
                                <p id="error-message"></p>
                            </div>
                            <div sec:authentication="principal.username" name="username" id="username" style="display:none;">
                            </div>
                            <div class="col-12">
                                <ul class="actions">
                                    <li><input type="submit" value="고민 남기기" class="primary" id="send"/></li>
                                    <li><a href="/main" class="button fit">돌아가기</a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <footer id="footer">
                <p class="copyright">&copy; Published by <a href="https://html5up.net">Team 99</a>.</p>
            </footer>
        </div>
        <script src="../js/common/jquery.min.js"></script>
        <script src="../js/common/jquery.scrollex.min.js"></script>
        <script src="../js/common/jquery.scrolly.min.js"></script>
        <script src="../js/common/browser.min.js"></script>
        <script src="../js/common/breakpoints.min.js"></script>
        <script src="../js/common/util.js"></script>
        <script src="../js/question.js"></script>
        <script src="../js/common/common.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"></script>
		<script type="rv-template" id="radio_item">
            <div class="col-4 col-12-small">
                <input type="radio" name="radioText" id=radio{{id}} value={{id}}>
                <label for=radio{{id}}>{{name}}</label>
            </div>
		</script>
	</body>
</html>