<!DOCTYPE HTML>
<html>
	<head>
		<title>Memory Pond register</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../css/common/common.css" />
        <link rel="stylesheet" href="../css/register.css" />
		<noscript>
            <link rel="stylesheet" href="../css/common/noscript.css" />
        </noscript>
	</head>
	<body class="is-preload">
        <div id="wrapper">
            <!-- Header -->
            <header id="header">
                <h1>Memory Pond</h1>
                <p>시작하기 전 당신이 누구인지 알려주세요</p>
            </header>

            <!-- Main -->
            <div id="main">
                <!-- Content -->
                <section id="content" class="main">
                    <form>
                        <h3 class = "subtitle">회원가입</h3>
                        <div class="col-6 col-12-xsmall">
                            <input type="text" name="demo-name" id="demo-name" value="" placeholder="닉네임" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="password" name="demo-email" id="demo-email" value="" placeholder="비밀번호" />
                        </div>
                        <div class="col-6 col-12-xsmall">
                            <input type="password" name="demo-email" id="demo-email" value="" placeholder="비밀번호 확인" />
                        </div>
                        <div class="alt error-message">
                        </div>
                        <div class="col-12">
                            <input type="submit" value="회원가입" class="primary fit" />
                            <a href="/login" class="button fit">돌아가기</a>
                        </div>            
                    </form>
                    <a href = "/main" class ="to-main">메인으로</a>
                </section>
            </div>
            <footer id="footer">
                <p class="copyright">&copy; Published by <a href="https://html5up.net">Team 99</a>.</p>
            </footer>
        </div>
		<!-- Scripts -->
        <script src="../js/common/jquery.min.js"></script>
        <script src="../js/common/jquery.scrollex.min.js"></script>
        <script src="../js/common/jquery.scrolly.min.js"></script>
        <script src="../js/common/browser.min.js"></script>
        <script src="../js/common/breakpoints.min.js"></script>
        <script src="../js/common/util.js"></script>
        <script src="../js/common/common.js"></script>
	</body>
</html>