<!DOCTYPE HTML>
<html>
	<head>
		<title>Memory Pond tutorial end</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../css/common/common.css" />   
        <link rel="stylesheet" href="../css/welcome.css" />
		<noscript>
            <link rel="stylesheet" href="../css/common/noscript.css" />
        </noscript>
	</head>
	<body class="is-preload">
        <div id="wrapper">
            <header id="header">
                <h1>Memory Pond</h1>
                <p>당신의 기억의 무게는 얼마인가요?</p>
            </header>

            <div id="main">
                <section id="content" class="main">
                    <p>       
                        좋습니다!<br/>
                        그렇다면 다른 사람들이 남긴<br/>
                        기억들도 둘러볼까요?<br/>
                        아니면 다른 질문에도 답해보시겠어요?
                    </p>
                    <a href="/main" class="button fit">둘러보기</a>
                    <div class="space"></div>
                    <a href="/question" class="button fit primary">다른 질문에 답하기</a>
                </section>
            </div>
            <footer id="footer">
                <p class="copyright">&copy; Published by <a href="https://html5up.net">Team 99</a>.</p>
            </footer>
        </div>
		<!-- Scripts -->
        <script src="../js/common/jquery.min.js"></script>
        <script src="../js/common/jquery.scrollex.min.js"></script>
        <script src="../js/common/jquery.scrolly.min.js"></script>
        <script src="../js/common/browser.min.js"></script>
        <script src="../js/common/breakpoints.min.js"></script>
        <script src="../js/common/util.js"></script>
        <script src="../js/common/common.js"></script>
	</body>
</html>