.author{
    float: right;
    display: block;
    margin-bottom: 10px;
}

#content{
    display: inline-block;
}

    #content .title{
        font-size: 1.0em;
        margin-bottom: 30px;
    }
    
    #content .content{
        font-size: 1.0em;
        margin-bottom: 30px;
    }
    
    #content .author{
        font-size: 0.8em;
    }

.comment-section{
    margin-top: 20px;
}

    .comment-list{
        list-style: none;
    }

    .comment-item{
        display: inline-block;
        background-color: #ffffff;
        color: black;
        background-color: #ffffff;
        margin-bottom: 20px;
        width: 100%;
        border-radius: 0.25em;
        padding: 1em;
    }

        .comment-item p{
            font-size: 1.0em;
        }

        .comment-item .author{
            font-size: 0.8em;
            margin-bottom: 0px;
        }

        .removal{
            float: right;
            font-size: 0.8em;
            clear: both;
        }

    .comment-item .content{
        color: black;
        font-size: 1.0em;
        margin-bottom: 0px;
    }


.comment{
    margin-top: 40px;
    font-size: 1.0em;
}

.comment textarea{
    display: block;
}